.border {
  border: 3px solid rgb(27, 57, 148);
  padding: 2rem;
  border-radius: 10px;
}

.product-image {
  max-width: 10em;
}

.card {
  border: 1px solid rgba(27, 57, 148, 0.342);
  border-radius: 10px;
}